*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;

}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header__top{
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.logo path{
    transition: fill .3s ease;
}

.logo:hover path{
    fill: #0093A1;
    transition: fill .3s ease;
}

.header__btl{
    text-transform: uppercase;
    color:#ffffff;

    padding: 12px 71px;
    background-color: #262C27;
    border: none;
    cursor: pointer;
}

.header__content{
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.header__content-box{
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: #fff;
}
.header__decor-text{
    position: absolute;
    top: 0;
}